# Data Preprocessing

Data Name : Cirrhosis
Data Link : https://archive.ics.uci.edu/dataset/878/cirrhosis+patient+survival+prediction+dataset-1

In [3]:
# Library terlebih dahulu

import pandas as pd
import numpy as np

# Handling Missing Value

In [4]:
# Import Data Cirrhosis.csv
df = pd.read_csv('./cirrhosis_data.csv')

# Menampilkan 5 record teratas
df.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
0,1,400,D,NaN,21464,F,Y,NaN,Y,Y,145,NaN,26,156.0,1718,13795,172,190.0,122
1,2,4500,C,D-penicillamine,20617,F,N,NaN,Y,N,11,302.0,414,54.0,73948,11352,88,221.0,106
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,14,176.0,348,210.0,516,961,55,151.0,12
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,18,NaN,254,NaN,61218,6063,92,183.0,103
4,5,1504,CL,Placebo,40 Years old,F,N,Y,Y,N,34,279.0,353,143.0,671,11315,72,136.0,109

In [5]:
# Tampilkan informasi untuk mengetahui Missing Value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             10 non-null     int64
 1   N_Days         10 non-null     int64
 2   Status         10 non-null     object
 3   Drug           8 non-null      object
 4   Age            10 non-null     object
 5   Sex            10 non-null     object
 6   Ascites        8 non-null      object
 7   Hepatomegaly   8 non-null      object
 8   Spiders        9 non-null      object
 9   Edema          10 non-null     object
 10  Bilirubin      10 non-null     int64
 11  Cholesterol    8 non-null      float64
 12  Albumin        10 non-null     int64
 13  Copper         8 non-null      float64
 14  Alk_Phos       10 non-null     int64
 15  SGOT           10 non-null     int64
 16  Tryglicerides  10 non-null     int64
 17  Platelets      9 non-null      float64
 18  Prothrombin    10 non-null     int64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.6+ KB

Dapat kita lihat beberapa tipe fitur dan juga jumlah missing value, maka kita bisa list terlebih dahulu
Object:
1. Drug (2 Null)
2. Ascites (2 Null)
3. Hepatomegaly (2 Null)
4. Spiders (1 Null)

Float:
1. Cholesterol (2 Null)
2. Copper (2 Null)
3. Platelets (1 Null)

Maka kita bisa melakukan proses untuk mengatasi missing value tersebut

In [ ]:
df